:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.75rem;
}
h6 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
}
h1, h2, h3, h6, p {
  margin-bottom: 0.5rem;
}

button {
  border-end-end-radius: 9999px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(32, 36, 38);
  background: rgb(122, 175, 215);
  font-size: '16px';
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
